[build]
  command = "npm run build"
  publish = "dist/spa"

[build.environment]
  NODE_VERSION = "20"
  SECRETS_SCAN_OMIT_KEYS = "VITE_CONTENTFUL_SPACE_ID,VITE_CONTENTFUL_DELIVERY_TOKEN"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
